@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

body {
	background-color: #68a0b0; /*color of content background*/
	color: white; /*color of text*/
	text-align: center;
	margin: 0%;
}

h1 {
	font-family: 'Poppins', sans-serif;
	font-style: italic;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	font-size: 10rem;
}

h3 {
	display: inline;
	padding-right: 5%;
	font-family: 'Poppins', sans-serif;
	font-weight: 450;
}

h3.b2top {
	font-family: 'Poppins', sans-serif;
	padding-left: 5.5% ;
}

p {
	font-family: 'Poppins', sans-serif;
	line-height: 3em;
	padding-left: 2.5%;
	padding-right: 2.5%;
}

img {
	border: 5px solid #68a0b0;
}

.content {
	width: 70%;
	margin: auto auto;
}

#bgImage {
	background-image: linear-gradient(#eaebe6, #c3d6dd); /*color of top background*/
	background-size: cover;
	margin: 0%;
}

#profilePic:hover {
	transform: rotate(360deg);
	transition: all 2.5s ease;
}

#top {
	font-size: 300%;
	font-style: opaque;
}

#profilePic {
	width: 10.2em;
	height: 10em;
	border-radius: 50%;
	padding: 0;
	margin-top: 2%;
	transition: all 3s ease;
}

.linkBarTop {
	background-color: white;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-top: 0%;
}

.linkBarBottom {
	background-color: white;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-top: 2%;
	margin-bottom: 2%;
}

.header {
	font-size: 1.8rem;
	font-weight: 300;
	color: #68a0b0;
	padding: 0%;
	margin: 0%;
	display: inline-block;
}

/*a's control icon links*/
a {
	color: white ;
	text-decoration: none;
}

a:hover {
	color: #c3d6dd;
	transition: 0.5s;
}

a:active {
	color: #82919a;
}

/*topLinks contol nav bar*/
a.topLink {
	color: #68a0b0;
	text-decoration: none;
}

a.topLink:hover {
	color: #2b1d42;
	transition: 0.3s;

}

a.topLink:active {
	color: black;
}

a.linkBarTop {
  display: inline-block;
  width: 25%;
  margin: 0;
  text-decoration: none;
}

#copyright {
	font-size: 0.8em;
}

.describeFirstWord {
	padding-top: 1.5%;
	font-size: 1.75em;
	font-style: italic;
}

#top {
	margin: 0;
	padding-top: 4%;
	font-weight: 350;
	text-align: center;

}
